colorful
asgiref==3.2.7
chardet==3.0.4
Django
django-discover-runner==1.0
django-role-permissions==2.2.1
dnspython==1.16.0
env==0.1.0
fake-factory==9999.9.9
gunicorn
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pycodestyle==2.5.0
text-unidecode==1.3
tzlocal==2.0.0
django-widget-tweaks
django-select2
django-colorful
django-heroku
psycopg2
datetime