colorful
asgiref
chardet
Django
django-discover-runner
django-role-permissions
dnspython
env
fake-factory
gunicorn
isort
lazy-object-proxy
mccabe
pycodestyle
text-unidecode
tzlocal
django-widget-tweaks
django-select2
django-colorful
django-heroku
psycopg2
datetime