<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
    <style>
        div {
            padding:10px}
        ul {
            list-style-type:none}
    </style>
</head>
<body>
<h1>Profiles</h1>
<a href="{% url 'page_home_view' %}"
               aria-pressed="true">Voltar
            </a>
<ul>
    {% for profile in profiles %}
    <div>
        <li>Nome: {{ profile.user }}</li>
        <li>GitHub: {{ profile.github }}</li>
        <li>Telegram: {{ profile.telegram_nick }}</li>
        <li>Discord: {{ profile.discord_nick }}</li>
        <li>Bio: {{ profile.bio }}</li>
        {% for tag in profile.tags.get_queryset %}
            <li>Tags: {{ tag.name }}</li>
        {% endfor %}
    </div>
    {% endfor %}
</ul>
</body>
</html>